<html>

    <head>
        <link rel="stylesheet" href="estilos/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    

    <body>

        <header>
            <nav class="#343a40 black" role="navigation">
                <div style="font-size: 30px;" class="nav-wrapper container center"> Sadrian - Casa de Lâminas </div>
            </nav>
        </header>

        <main>

        
            <div class="container mt-5">
                
                <div class="row d-flex justify-content-center">
                
                    <div class="col-md-6">
                        <div style="text-align:center;font-size:30px;"> LOGIN </div><br>
                        <form action= "<?php echo $_SERVER['PHP_SELF']; ?>" method="POST">
                            <div class="card px-5 py-5" id="form1">
                                <div class="form-data" v-if="!submitted">
                                    <div class="forms-inputs mb-4"> <span>Email</span> <input autocomplete="off" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true">
                                        <div class="invalid-feedback"> Esse email não é válido. </div>
                                    </div>
                                    <div class="forms-inputs mb-4"> <span>Senha</span> <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                                        <div class="invalid-feedback"> Senha errada! </div>
                                    </div>
                                    <div class="mb-3"> <button type="submit" class="btn btn-dark w-100">Login</button> </div>
                                </div>
                                <div id="confirma" class="success-data" v-else>
                                    <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <span class="text-center fs-1">Você conseguiu logar <br> com sucesso!</span> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>

    </body>
   

</html>

<script>

    document.getElementById("confirma").style.visibility = 'hidden'

</script>